@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --main-color : #ff8716;
    --p-color: #7b7b7b;
    --bg-color: #F3F3F3;
    --white-color: #fff;
    --color-heading: #121416;
    --border-color: #e5e5e5d5;
    --Sale-color: #E51A1A;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: var(--color-heading);
}
body {
    padding-top: 180px;
}

span {
    color: var(--main-color);
}
p {
    color: var(--p-color);
}
h1, h2, h3, h4, h5 {
    color: var(--color-heading);
    font-family: "DM Sans", sans-serif;
}

/* Any image in my website will take the full width of it's parent */
img {
    width: 100%;
}
/* Any input field, select or button disable the border and outline */
input, select, button {
    border: none;
    outline: none;
}

/* This is the main container you will find it any wehre in the code
    When I want to align elements to be in the same space */
.container {
    width: 90%;
    margin: auto;
    max-width: 1350px;
}

.btns {
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn {
    padding: 10px 18px;
    text-transform: capitalize;
    border-radius: 2px;
    background-color: var(--main-color);
    color: var(--white-color);
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 0.3s;
}
.btn i {
    color: var(--white-color);
}
.btn:hover {
    scale: 1.1;
}


@media (max-width: 1350px) {
    .container {
        width: 90%;
    }
}

/*------------------Header------------------*/
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 5px 8px 8px #d1d1d13b;
    z-index: 99;
}
header .top-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
header .top-header .logo {
    width: 180px;
}
header .top-header .search-box {
    width: 610px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: var(--bg-color)
}
header .top-header .search-box input {
    height: 55px;
    width: 400px;
    padding: 5px 15px 5px 10px;
    background-color: var(--bg-color);
}
header .top-header .search-box .select-box {
    position: relative;
}
header .top-header .select-box::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    height: 50%;
    background-color: #b9b9b9b9;
}
header .top-header .search-box select {
    height: 55px;
    width: 190px;
    background-color: var(--bg-color);
    font-size: 16px;
    cursor: pointer;
    padding-left: 10px;
    margin-right: 10px;
}
header .top-header .search-box select option {
    font-size: 12px;
}
header .top-header .search-box button {
    height: 55px;
    width: 60px;
    background-color: var(--main-color);
    font-size: 18px;
    cursor: pointer;
    color: var(--white-color);
}
header .top-header .header-icons {
    display: flex;
    gap: 30px;
}
header .top-header .header-icons .icon {
    position: relative;
    cursor: pointer;
}
header .top-header .header-icons .icon i {
    font-size: 24px;
}
header .top-header .header-icons .icon .count {
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 11px;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -10px;
    text-align: center;
    line-height: 20px;
    border-radius: 100%;
}

header .bottom-header {
    border-top: 1px solid var(--border-color);
}
header .bottom-header nav {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 60px;
}
header .bottom-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .bottom-header .category-nav {
    width: 220px;
    height: 100%;
    position: relative;
}
header .bottom-header .category-nav .category-btn {
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}
header .bottom-header .category-nav .category-btn p {
    color: var(--white-color);
    font-weight: 600px;
    font-size: 15px;
}
header .bottom-header .category-nav .category-btn i {
    color: var(--white-color);
}
header .bottom-header .category-nav .category-nav-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border: 1px solid #999;
    border-top: 0;
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.3s ease-in-out;
}
header .bottom-header .category-nav .category-nav-list.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header .bottom-header .category-nav .category-nav-list a {
    padding: 14px 10px;
    border-bottom: 1px solid var(--border-color);
    font-size: 14px;
}
header .bottom-header .category-nav .category-nav-list a:last-child {
    border-bottom: 0;
}
header .bottom-header .category-nav .category-nav-list a:hover {
    background-color: #0b0b0b0b;
}
header .bottom-header .nav-links {
    display: flex;
    gap: 35px;
}
header .bottom-header .nav-links li a {
    color: var(--color-heading);
    transition: 0.3s;
}
header .bottom-header .nav-links li a:hover,
header .bottom-header .nav-links li.active a {
    color: var(--main-color);
}

/*------------------Slider------------------*/
.slider {
    position: relative;
}
.slider .container {
    display: flex;
    justify-content: space-between;
}
.slider .banner-2 {
    width: 23%;
    height: 100%;
    object-fit: cover;
}
.slider .banner-2 a{
    width: 100%;
    height: 100%;
}
.slider .container .mySwiper {
    width: 75%;
    overflow: hidden;
    position: relative;
}
.slider .container .swiper-wrapper {
    height: auto;
}
.slider .container .slide-swp .swiper-pagination span{
    background-color: black;
}
.slider .container .slide-swp .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--main-color);
    width: 34px;
    height: 8px;
    border-radius: 30px;
}

/*------------------Banners-4------------------*/
.banners-4 {
    margin: 40px 0;
}
.banners-4 .container {
    display: flex;
    justify-content: space-between;
}
.banners-4 .container .box{
    width: 24%;
    background: url(../Media/Images/bgb3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 10px;
    position: relative;
}
.banners-4 .container .box img{
    width: 100px;
    transition: 0.3s;
}
.banners-4 .container .box:hover img{
    scale: 1.05;
}
.banners-4 .container .box .text h5 {
    font-size: 16px;
}
.banners-4 .container .box .text .sale {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 7px 0;
}
.banners-4 .container .box .text .sale span {
    font-size: 25px;
    font-weight: bold;
}
.banners-4 .container .box .text h6 {
    font-size: 14px;
    font-weight: bold;
}
.banners-4 .container .box .link-btn {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Start Slide */
.slide {
    margin-bottom: 70px;
}
.slide .top-slide {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--main-color);
}
.slide .top-slide h2 {
    position: relative;
    text-transform: uppercase;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 18px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}
.slide .top-slide h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    background-color: var(--white-color);
    border-left: 20px solid transparent;
    border-bottom: 20px solid #e26e02;
}
.slide .top-slide h2 i {
    color: var(--white-color);
}
.slide .container {
    position: relative;
}
.slide .container .mySwiper{
    padding: 10px 0;
}
/* OR fine-grained control using selectors */
.swiper-button-next svg,
.swiper-button-prev svg {
    width: 20px;
    height: 20px;
}
.slide .container .mySwiper .btn-swip.swiper-button-prev {
    left: calc(100% - 80px);
}
.slide .container .mySwiper .btn-swip {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: var(--bg-color);
    color: var(--color-heading);
    font-weight: bold;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    border: 1px solid var(--border-color);
}

/*------------------Product Card Style------------------*/
.mySwiper {
    overflow: hidden;
}
.product {
    background-color: #fff;
    padding: 20px;
    box-shadow: 5px 5px 10px #94949428;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    position: relative;
}
.product .sale-present {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    background-color: #ed0505;
    color: var(--white-color);
    padding: 4px 10px;
    font-size: 13px;
}
.product .img-product {
    position: relative;
    height: 180px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.product:hover .img-product {
    scale: 1.1;
}
.product .name-product {
    margin-bottom: 10px;
    color: var(--color-heading);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: pointer;
}
.product:hover .name-product {
    text-decoration: underline;
}
.stars {
    margin-bottom: 10px;
}
.stars i {
    color: var(--main-color);
    font-size: 14px;
}
.price {
    display: flex;
    align-items: center;
    gap: 12px;
}
.price p {
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
}
.price .old-price {
    color: var(--p-color);
    text-decoration: line-through;
}
.product .icons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.product .icons .icon-product {
    width: 40px;
    height: 40px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.product .icons .icon-product:hover {
    background-color: var(--main-color);
}
.product .icons .icon-product i {
    font-size: 14px;
}
.product .icons .icon-product:hover i{
    color: var(--white-color);
}
.product .icons .btn-add-cart {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px;
    color: var(--white-color);
    padding: 5px 10px;
    transition: 0.3s;
    border: 1px solid var(--main-color);
    cursor: pointer;
}
.product .icons .btn-add-cart:hover {
    scale: 1.05;
    background-color: #f47600;
}
.product .icons .btn-add-cart i {
    color: var(--white-color);
}
.product .icons .btn-add-cart.active {
    color: var(--color-heading);
    background-color: transparent;
}
.product .icons .btn-add-cart.active i {
    color: var(--main-color);
}

/*------------------Banners 2------------------*/
.banners {
    margin: 50px 0;
}
.banners .banners-boxes {
    display: flex;
    justify-content: space-between;
}
.banners .banners-boxes .box {
    width: 48%;
    height: 100%;
    object-fit: cover;
}
